@import-normalize;

:root {
  --bg: #330867;
  --card-bg: #F5F5F5;
  --font: #2B283A;
  --secondary: #4A4E74;
  --white: #fff;
  --die-match: #B1F2F2;
  --btn-bg: #330867;
  --link: #8E76AB;
  --shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  --shadow-strong: 0px 2px 8px rgba(0, 0, 0, 0.3);
  --shadow-strong-x2: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  height: 100vh;
  max-width: 100%;
  background-color: var(--bg);
  background-image: url('./img/patternpad.jpeg');
  background-size: 700px;
  background-position: center;
  color: var(--white);
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.card {
  background: var(--card-bg);
  border-radius: 10px;
  color: var(--secondary);
  font-size: 1.5rem;
  max-width: 700px;
  padding: 20px 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  margin-top: 100px;
}

h1 {
  font-family: 'Karla', sans-serif;
  color: var(--font);
  font-size: 3.5rem;
  margin-top: 20px;
  margin-bottom: 0px;
}

.description {
  max-width: 450px;
  margin: 10px;
  font-size: 1.2rem;
}

a {
  color: var(--btn-bg);
}

a:hover {
  color: var(--link);
  transition: all 300ms ease-in;
}

.credit {
  text-align: center;
  margin: 20px;
  margin-bottom: 50px;
  color: var(--font);
  background: var(--card-bg);
  border-radius: 6px;
  padding: 20px;
  max-width: 700px;
}

.dices {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  margin: 20px auto;
}

.die {
  background: var(--white);
  color: var(--font);
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 6px;
  box-shadow: var(--shadow);
  font-size: 1.9rem;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  transition: all 100ms ease-in;
  cursor: pointer;
}


.die:hover {
  box-shadow: var(--shadow-strong);
}

button {
  font-family: 'Karla', sans-serif;
  color: var(--white);
  box-shadow: var(--shadow);
  background: var(--btn-bg);
  border-radius: 6px;
  border: none;
  font-size: 2rem;
  padding: 10px 40px;
  margin: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 200ms ease-in;
}

button:hover {
  background: var(--link);
}

button:active {
  box-shadow: var(--shadow-strong-x2);
  transform: scale(0.98);
}