html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1614850523296-d8c1af93d400?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #232323;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  text-shadow: 0 0 3px #FE1D63ff;
  color: #FE1D63ff;
  margin: 20px 40px;
}

p {
  margin: 15px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blackjack {
    background-color: #f2f2f2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #f2f2f2;
  padding: 30px;
}

button {
  color: white;
  background-color: #5798F6ff;
  border: 1px solid #5798F6ff;
  border-radius: 30px;
  padding: 15px 20px;
  align-self: center;
  margin: 5px;
}

button:hover {
  color: white;
  background-color: #B751DBff;
   border: 1px solid #B751DBff;
}

button:active {
  color: #B751DBff;
  background-color: #FDFAB7ff;
   border: 1px solid #FDFAB7ff;
}

.text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

#sum-el {
  margin-bottom: 40px;
}