html {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(0deg, rgba(105,113,132,1) 0%, rgba(242,241,239,1) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #232323;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  color: #697184;
  margin: 20px 40px;
}

p {
  margin: 15px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blackjack {
    background-color: #d8cfd0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 30px;
}

button {
  color: #f2f1ef;
  background-color: #413f3d;
  border: 1px solid #697184;
  border-radius: 1em;
  padding: 15px 20px;
  align-self: center;
  margin: 5px;
  min-width: 180px;
}

button:hover {
  color: #f2f1ef;
  background-color: #697184;
}

button:active {
  color: #413f3d;
  background-color: ;
  outline: 3px solid #b1a6a4;
}

.text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

#sum-el {
  margin-bottom: 40px;
}
