@font-face {
    font-family: 'Adder';
    src: url('./res/font/Adder.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    color: #323232;
    font-family: 'Lato', Helvetica, sans-serif;
    
}

.pattern {
    position: fixed;
    width: 300vw;
    height: 300vw;
    background-color: #f2f2f2;
    opacity: 0.2;
    background-image:  linear-gradient(#232323 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(to right, #232323 1.2000000000000002px, #f2f2f2 1.2000000000000002px);
    background-size: 24px 24px;
    z-index: -1;
}

/* styles */

h1 {
    font-family: 'Adder';
    font-weight: normal; /* font-weight must be always included with this font!! */
    font-style: normal;
    font-size: 90px;
}

h2 {
    font-family: 'Adder';
    font-weight: normal;
    font-size: 50px;
    padding-top: 20px;
    line-height: 1.5;
}

h3 {
    font-family: 'Adder';
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    padding-top: 10px;
}

p {
    padding: 10px 5px;
    font-size: 24px;
    line-height: 1.5;
}

.subh {
    margin-left: 80px;
}


/* sections */

header {
    text-align: center;
    padding: 100px;
}

.color {
    padding: 50px;
    margin: 10px 100px;
    border: 2px solid #232323;
    border-radius: 7px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.font {
    padding: 20px;
    margin: 10px 100px;
    border: 2px solid #232323;
    border-radius: 7px;
    background-color: #f0f0f0;
}

.text-style {
    padding: 20px;
    margin: 10px 100px;
    border: 2px solid #232323;
    border-radius: 7px;
    background-color: #f0f0f0;
}

.button {
    padding: 20px;
    margin: 10px 100px;
    border: 2px solid #232323;
    border-radius: 7px;
    background-color: #f0f0f0;
}

footer {
    background-color: #f0f0f0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* color palette */

.black,
.white,
.blue,
.pink,
.green,
.yellow {
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.white {
    color: #232323!important;
}


.black {
    background-color: #232323;
    height: 300px;
    width: 150px;
    float: left;
}

.white {
    background-color: #f2f2f2;
    height: 300px;
    width: 150px;
    float: right;
}

.blue {
    background-color: #55a4a7;
    height: 180px;
    width: 150px;
    float: left;
}

.pink {
    background-color: #fea29f;
    height: 180px;
    width: 150px;
    float: right;
}

.green {
    background-color: #9ca840;
    height: 120px;
    width: 150px;
    float: left;
}

.yellow {
    background-color: #ffc438;
    height: 120px;
    width: 150px;
    float: right;
}

.color p {
    text-transform: uppercase;
    font-size: 16px;
}

/* fonts */

.font {
    text-align: center;
}

.font p {
    font-size: 24px;
}

.font-name {
    text-decoration: underline;
}

.adder {
    font-family: 'Adder';
    font-weight: normal;
}

.adder p {
    font-size: 50px;
}

.adder .font-name {
    font-size: 24px;
}

.lato {
    font-family: 'Lato';
}

.notokr {
    font-family: 'Noto Sans KR';
}

.it {
    font-style: italic;
}

.bold {
    font-weight: 600;
}


.adder, 
.lato, 
.notokr {
margin: 30px 10px;
line-height: 1.5;
text-align: left;
}

/* text-styles */

.text-style {
    padding: 50px;
}

ul {
    margin-left: 50px;
}

li {
    padding: 10px;
    list-style-type: square;
}
