:root {
  --white: #fff;
  --black: #2D3032;
  --gray: #555759;
  --light-gray: #f0f0f0;
  --medium-gray: #7D7F80;
  --accent: #FEA29F;
  --green: #76b852;
  --red: #cb2d3e;
}


body {
  font-family: 'Alegreya Sans SC', 'Noto Emoji', sans-serif;
  text-transform: lowercase;
background-image: radial-gradient(circle farthest-corner at 18.7% 37.8%, rgba(250, 250, 250, 1) 0%, rgba(225, 234, 238, 1) 90%);
  margin: 0;
  min-height: 100vh;
      display: flex;
        flex-direction: column;
        align-items: center;
}

main { 
  max-width: 100%;
    display: flex;
      flex-direction: column;
      align-items: center;
}

/* hiding ARIA label */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#hero,
#monster {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--black);
}

a:visited {
  color: var(--black);
}

a:hover {
  color: var(--accent);
}


.copy-text {
  font-size: 0.87rem;
  margin: 1rem;
}


.avatar {
  max-width: 260px;
  max-height: 100%;
  border-radius: 0.3em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: 4px solid var(--black);
  z-index: 0;
}

.character-card {
  box-sizing: border-box;
  border: 4px solid var(--black);
  max-width: 100%;
  min-width: 350px;
  min-height: 530px;
  border-radius: 0.5rem;
  margin: 2rem;
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#hero .character-card {
  background-color: var(--white);
  background-image: url("./img/merely-cubed.png"); /* Credits: Merely Cubed Made by Etienne Rallion */
}

.name-div {
  color: var(--black);
  background: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 4px solid var(--black);
  margin: 0.5rem 0.5rem -6px 0.5rem;
  min-width: 250px;
  z-index: 2;
}

#monster .character-card {
  background-color: var(--gray);
  background-image: url("./img/merely-cubed.png"); /* Credits: Merely Cubed Made by Etienne Rallion */
}

#actions {
  margin-top: 1rem;
}

button {
  font-family: 'Alegreya Sans SC', 'Noto Emoji', sans-serif;
  border: none;
  margin: 1rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  color: var(--white);
  background: var(--red);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 200ms ease-in;
}


button a {
  font-family: 'Alegreya Sans SC', 'Noto Emoji', sans-serif;
  color: black;
  text-decoration: none;
}

button a:hover {
  color: black;
}

button:hover {
  transform: scale(1.1);
  color: var(--white);
}

button:active {
  transform: scale(1.2);
  background-color: var(--medium-gray);
}

.name {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Turret Road', cursive;
  margin: 0;
  font-weight: 800;
}

.stats {
  min-width: 260px;
  height: 150px;
  margin: auto;
  border-radius: 0.3rem;
  border: 4px solid var(--black);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#monster .stats {
  background: rgba(255, 255, 255, 0.85);
}

#hero .stats {
  background: rgba(0, 0, 0, 0.85);
  color: var(--white);
}

.dice {
  text-align: center;
  margin: 0.2rem;
  border-radius: 0.3rem;
  color: var(--black);
}

i {
  font-size: 2rem;
}

#hero .dice {
  color: var(--white);
}

.dice-container {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.end-game {
  color: black;
  border: 4px solid black;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("./img/merely-cubed.png"); /* Credits: Merely Cubed Made by Etienne Rallion */
}

.end-game h2 {
  font-size: 3rem;
}


.end-emoji {
  font-size: 5rem;
  margin: 1rem;
  color: var(--white);
}

.health {
  margin: 1rem 1rem 0.5rem 1rem;
}

.health-bar-outer {
  background: var(--black);
  height: 1vh;
  width: 90%;
  border-radius: 0.1rem;
  margin-bottom: 1rem;
}

.health-bar-outer .health-bar-inner {
  background: var(--green);
  height: 100%;
  border-radius: 0.1rem;
}

.health-bar-outer .health-bar-inner.danger {
  background: var(--red);
}

.end-message {
  background: rgba(0, 0, 0, 0.85);
  padding: 1rem;
  border: 4px solid black;
  border-radius: 0.5rem;
  color: var(--white);
}

@media screen and (min-width: 800px) {

  body {
    min-height: 100%;
    justify-content: center;
  }

  #game {
    flex-direction: row;
  }

}