:root {
  --container-bg: #1f2937;
  --header-bg: #2980b9;
  --option-btn-bg: #d7eaf6;
  --option-btn-color: #4a4e74;
  --invoice-btn-bg: #2980b9;
}

html {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

body {
  background: rgb(41, 128, 185);
  background-image: linear-gradient(0deg,
      rgba(41, 128, 185, 1) 0%,
      rgba(44, 62, 80, 1) 100%);
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

#head {
  max-width: 100%;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttons,
#summary,
#list {
  padding: 10px 40px;
}

#buttons {
  display: flex;
  justify-content: center;
}

#summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: var(--container-bg);
  border-radius: 7px;
  min-height: 650px;
  max-width: 600px;
  overflow: hidden;
}

#head {
  background-image: linear-gradient(180deg,
      rgba(41, 128, 185, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
  background-size: cover;
  background-position: center;
}

#invoice-tasks {
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 5vh;
}

.service-div {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

.service-div>div {
  display: flex;
  align-items: center;
}

.space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

#wash-btn,
#mow-btn,
#weed-btn {
  background-color: var(--option-btn-bg);
  border: none;
  border-radius: 7px;
  color: var(--option-btn-color);
  height: 50px;
  margin: 0px 10px;
  padding: 10px 15px;
  transition: background-color 400ms ease-in-out;
}

#wash-btn:hover,
#mow-btn:hover,
#weed-btn:hover,
#send-btn:hover {
  outline: 2px solid #ffffff;
}

#wash-btn:active,
#mow-btn:active,
#weed-btn:active,
#send-btn:active {
  background-color: #ffffff;
  color: var(--option-btn-color);
  outline: 2px solid #ffffff;
}

#send-btn {
  background: var(--invoice-btn-bg);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  line-height: 24px;
  padding: 10px 15px;
  transition: background-color 400ms ease-in-out;
  margin: 30px auto;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin: 0px;
  padding-top: 15px;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 10px;
  padding: 0;
}

p {
  color: #d5d4d8;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

#amount-text {
  font-size: 36px;
  font-weight: 600;
  line-height: 32px;
}

.service-txt {
  display: block;
  padding-top: 15px;
  font-size: 25px;
}

#notes-txt {
  font-size: 12px;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.service {
  display: flex;
  align-items: center;
  gap: 15px;
}

.line {
  border-top: 1px solid #d5d4d8;
}

.remove-btn {
  font-size: 10px;
  background-color: #d5d4d8;
  color: var(--container-bg);
  border-radius: 3px;
  padding: 3px;
  margin-top: 16px;
  margin-left: 20px;
  text-transform: uppercase;
  border: none;
}

.remove-btn:hover {
  outline: 2px solid #ffffff;
}

.remove-btn:active {
  background-color: #ffffff;
  outline: 2px solid #ffffff;
}